.slider {
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
}

.slider img {
    display: block;
}

.slider a {
    display: block;   
    margin: 0px;
    padding: 0px;
}

.slider a:hover  {
    background: url(../img/overlay/plus.png) no-repeat center;
    background-color: black; 
} 

.slider a:hover img  {   
    opacity: .2;
}

.slider .prev {
    position: absolute;
    left: -14px;
    top: 174px;
    bottom: 0px;
    width: 93px;
    height: 86px;
    background: url(../img/slider/prev.png) no-repeat center;
    cursor: pointer;
}

.slider .next { 
    position: absolute;
    top: 174px;
    bottom: 0px;
    left: 860px;
    width: 93px;
    height: 86px;
    background: url(../img/slider/next.png) no-repeat center;
    cursor: pointer;
}

 .blurb {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 294px;
    height: 195px;
    background-color: rgba(0,0,0,.7);
    
}

.blurb h1  {
    text-align: left;
    color: #fff;
    font-size: 24px;
    margin: 30px 0px 25px 34px;
}

.blurb p  {
    font-family: 'HelveticaNeue';
    font-size: 12px;
    color: #fff;
    margin: 0px 36px 20px 34px;

}

.blurb a {
    margin: 0px 36px 0px 34px;
    background: url(../img/more_btn_white.png) no-repeat left;
    padding-left: 27px;
    color: #fff;
    font-family: 'HelveticaNeue Medium';
    font-size: 12px;
}

.blurb a:hover {
    background: url(../img/more_btn_white.png) no-repeat left;
    padding-left: 27px;
}

div#img1 {
    float: left;
    margin-bottom: 5px;
}

div#img2 {
    float: left;
    display: block;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 5px;
}

div#img3 {
    float: left;
    margin-bottom: 5px;
}

div#img4 {
    float: left;
    margin-right: 5px;
}

div#img5 {
    float: left;
    margin-bottom: 5px;
}

div#img6 {
    float:left;
    margin-bottom: 5px;
}

div#img7 {
    float: left;
    display: block;
}

div#img8 {
    float: left;
    margin-left: 4px;
    margin-right: 5px;
}

div#img9 {
    float: left;
    display: block;
}

