h1 {
    margin: 52px 0px 48px 0px;
    font-family: 'Chunkfive';
    font-size: 30px;
    text-align: center;
}

ul {
    font-family:  'HelveticaNeue';
    font-size: 14px;
}

header {
    margin: 0px;
    padding: 0px;
    padding-top:32px; 
}

form {
    display: block;
}

.article time {
    font-family: 'HelveticaNeue Medium';
    font-size: 11px;
    color: #8a8a8a;
}

.border-top {
    border-top: 1px solid #ececec;
}

.wrapper {
   margin-right: auto; 
   margin-left: auto; 
   width: 943px;
   padding: 0px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    margin-bottom: 36px;
    margin-top: 32px; 
    display: block;
    background: url(../img/logo.png) no-repeat;
    outline: none;
    border-style: none;
}

.searchbox {
    margin-top: 30px;
    display: block;
    float: right;
    background: url(../img/search_glass_old.png) no-repeat right;
    border: solid 1px #ececec;
    font-family: 'HelveticaNeue Regular';
    font-size: 12px;
    padding: 5px;
    width: 200px;
}

.main-menu {
    display: block;
    list-style-type: none;
    margin: 0px 0px 40px 0px;
    padding: 0px;
}

.main-menu li {
    display: inline-block;
    margin: -1px -6px 0px 0px;
    padding-top: 19px;
}

.main-menu a {
    padding: 0px 25px 0px 25px;
    text-decoration: none;
    border-right: 1px solid #ececec;
    text-transform: uppercase;
    color: inherit;
}

.main-menu .active {
    border-top :1px solid #f03c3c; 
    color: #f03c3c;
}

.tags-menu {
    font-family: 'HelveticaNeue';
    font-size: 14px;
    display: block;
    list-style-type: none;
    margin: 0px 0px 26px 0px;
    padding: 0px;
}

.tags-menu li {
    display: inline-block;
    margin: 0px 0px 0px 0px;
}

.tags-menu .active {
    color: #f03c3c;
}

.tags-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

.tags-menu-delimiter::after {
    content: "/";
    margin-left: 8px;
    margin-right: 8px;
    color: #000;
}

.table {
    display: block;
}

.col {
    display: block;
    float: left;
    width: 220px;
}

.col.inner-left {
    margin-left: 20px;
}

.info-box {
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 62px;
    visibility: hidden;
    /*opacity: 0;*/
    cursor: pointer;
}

.info-views {
    background: url(../img/overlay/views.png) no-repeat center;
    padding-top: 43px;
}

.info-date {
    background: url(../img/overlay/date.png) no-repeat center;
    padding-top: 43px;
    left:80px;
}

.info-likes {
    background: url(../img/overlay/likes.png) no-repeat center;
    padding-top: 43px;
    right: 0px;
}

/* article overaly */
.overlay {
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.overlay:hover {
    background: url(../img/overlay/plus.png) no-repeat center;
    background-color: black; 
} 

.overlay:hover img  {   
    opacity: .2;
}

.overlay:hover > div.info-box {
    /*opacity: 1;*/
    visibility: visible;
}

.article {
    margin-bottom: 20px;
    font-family: 'HelveticaNeue';
    font-size: 12px;
    font-variant: normal;
}

.article a, img {
    display: block;
}

.article .box {
    border: 1px solid #dbdbdb;
    border-top: 0px;
    padding: 14px;
}

.article.tag {
    font-family: 'HelveticaNeue Medium';
    font-size: 11px;
}

.article h1 {
    margin: 0px 0px 4px 0px;
    text-align: left;
    font-size: 18px;
    font-family: 'HelveticaNeue';
    font-weight: bold;
}

.link-button {
    display: block;
    background: url(../img/more_btn.png) no-repeat left;
    padding: 5px;
    padding-bottom: 4px;
    padding-left: 27px;
    text-decoration: none;
    color: #2e2e2e;
    font-family: 'HelveticaNeue Medium';
    font-size: 12px;
}

/* footer */
footer {
    margin-top: 44px;
}

footer .text-right {
    float: right;
    margin: 11px 0px 0px 0px;
    text-align: right;
}

footer .media {
    float: left;
    margin: 22px 0px 0px 0px;
}

footer {
    font-family: 'HelveticaNeue';
    font-size: 11px;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
/* paginator */
.paginator {
    font-family: 'HelveticaNeue';
    font-weight: bold;
    font-size: 12px;
    display: block;
    
    margin-top: 45px ;
    padding: 0px;
}

.paginator ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.paginator li {
    display: inline-block;
}
/*
http://www.css3developer.com/css3generator/inset-box-shadow-css.html
*/
.paginator a {
    display: block;
    margin: 1px;
    color: black;
    float: left;
    padding: 6px 10px;
    text-decoration: none;
    text-shadow: 1 1px white;

    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    
}

.paginator .active {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');

    background-color:#d7d7d7;
    box-shadow:1px 1px 3px 1px #7f7f7f inset;
}

/* about */
.about p {
    font-family: 'HelveticaNeue';
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.about figure {
    margin: 0px 36px 20px 0px;
    float: left;
}

blockquote, q {
    quotes: none;
    margin: 15px 0 20px 0;
    padding: 0 15px 0 35px;
    font-style: italic;
    background: url(../img/bgr_quote.png) no-repeat 2px 4px;
}

.dropcap {
    float: left;
    padding: 0px 7px 5px 0px;
    font-weight: bold;
    font-size: 36px;
    color: #f03c3c;
}

.link-button-colored {
    display: block;
    margin: 10px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    float: left;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'HelveticaNeue';
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    padding: 0 15px 0 15px;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0,0,0, 0.2);
    background-color: red;
}

.btn_green {
    background-color: #8fae30;
}
.btn_gray {
    background-color: #d0d2d2;
}
.btn_blue {
    background-color: #6498e4;
}
.btn_brown {
    background-color: #e97844;
}
.btn_purple {
    background-color: #e16ae2;
}
.btn_red {
    background-color: #f15555;
}
.btn_lightblue {
    background-color: #66dde5;
}

.alert-box {
    margin: 10px 0px 10px 0px;
    padding: 20px;
    text-align: center;
    border: 1px solid;
}

.succcess {
    background: #effeb9;
    border-color: #98c601;
    color: #98c601;
}

.notice {
    background: #ffe9ad;
    border-color: #fab418;
    color: #fab418;
}

.error {
    background: #fbcbc1;
    border-color: #eb5439;
    color: #eb5439;
}

.info {
    background: #d1e4f3;
    border-color: #4d8fcb;
    color: #4d8fcb;
}

.one-half {
    float: left;
    max-width: 46%;
}

.one-half-inner {
     margin-left: 66px;
}

.one-third {
    float: left;
    width: 31%;
}

.one-third-inner {
    margin-left: 20px;
}

/* contacts */
div#map-canvas {

    height: 300px; 
    width: auto;
    margin-top: 30px; 
    margin-bottom: 34px;
}

.contacts p {
    font-family: 'HelveticaNeue Medium';
    font-size: 12px;
}

.comments-area {
    display: block;
    font-size: 12px;
    margin-bottom: 30px;
}

.comments-area input[type="text"] {
    width: 214px;
    outline: none;
    display: block;
    margin-bottom: 12px;
    padding: 15px;
    color: #838383;
    background: #fafafa;
    border: 1px solid #D1D1D1;
}

.comments-area textarea {
    margin-bottom: 14px;
    padding: 15px;
    width: 493px;
    height: 203px;
    color: #838383;
    outline: none;
    display: block;
    background: #fafafa;
    border: 1px solid #D1D1D1;
    resize: none;
}

.comments-area input[type="submit"] {
   
    border:none;
}

/* item page */
.item {
    font-family: 'HelveticaNeue';
    font-size: 12px;
}

.item .right .one-third {
    width: 33.3%;
    margin-bottom: 20px;
}

.item figure {
    margin: 0px 30px 30px 0px;
    float: left;
}

.right {
    overflow: auto;
    margin: 10px;
}

.right span, time {
    color: #f25656;
    display: block;
}

.right .header {
    color:#5e5e5e;
    margin-bottom: 10px;
}
